<%- include('../includes/start.ejs') %>
<link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
          <div class="container">
            <h2>Admin Products</h2>
            <% if(products.length) { %>
            <ul class="products-grid">
              <% for(let product of products){ %>
                <li>
                  <div class="product-card">
                    <img
                      class="product-image"
                      src="<%= product.image %>"
                      alt="Product Image"
                    />
                    <h2 class="product-title"><%= product.title %></h2>
                    <p class="product-description">
                     <%= product.description %>
                    </p>
                    <p class="product-price">$<%= product.price %></p>
                    <div class="buttons">
                      <a href="/admin/products/edit/<%= product.id %>">
                        <button class="btn edit">
                          Edit
                        </button>
                      </a>
                        <form action="/admin/products/delete/<%= product.id %>" method="POST">
                          <button class="btn delete">
                            Delete
                          </button>
                        </form>
                        
                      </a>
                    </div>
                  </div>
                </li>
              <% } %>
            </ul>

            <% } else { %>
            <h3>No products found, please add product!</h3>
            <% } %>
          </div>
      </main>

    <%- include('../includes/end.ejs')  %>